@model ExpenseApp.Models.Category

@{
    ViewData["Title"] = "Delete";
}


<div class="table-container widget" style="max-width: 25%;  margin: 0 auto; margin-top: 15%">
    <h3 style="margin-top: 7%">Delete?</h3>
    <div style="text-align:center; margin-top: 10%">
        Title: @Model.Title  @Model.Icon
        @if (Model.IsExpense)
        {
            <div>Type: Expense 🟥</div>
        }
        else
        {
            <div>Type: Income 🟩</div>
        }

        <form asp-action="Delete" style="margin-top:7%">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" style="background-color: #202126" /> |
            <a style="color: white; text-decoration: none" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>